useDynLib(robustcause, .registration = TRUE)

export(confint.robustcause_rlm)
export(confint_robust)
export(fit_mm_dml)
export(fit_rlm)
export(fit_s_estimator)
export(plot_weights)
export(print.robustcause_mm_dml)
export(print.robustcause_rlm)
export(print.robustcause_s)
export(summary.robustcause_mm_dml)
export(vcov.robustcause_rlm)
export(vcov_robust)
importFrom(Rcpp, evalCpp)
S3method(print, robustcause_mm_dml)
S3method(confint, robustcause_rlm)
S3method(print, robustcause_rlm)
S3method(print, robustcause_s)
S3method(summary, robustcause_mm_dml)
S3method(vcov, robustcause_rlm)
