useDynLib(robustcause, .registration = TRUE)

export(confint.robustcause_rlm)
export(confint_robust)
export(build_adstock)
export(fit_adstock_model)
export(fit_adstock_model_fast)
export(fit_mm_dml)
export(fit_mmm)
export(fit_rlm)
export(fit_s_estimator)
export(make_custom_learner)
export(plot_weights)
export(plot_marginal_effect)
export(print.robustcause_adstock)
export(print.robustcause_adstock_model)
export(print.robustcause_mm_dml)
export(print.robustcause_mmm)
export(print.robustcause_rlm)
export(print.robustcause_s)
export(print.summary.robustcause_adstock)
export(print.summary.robustcause_adstock_model)
export(print.summary.robustcause_mm_dml)
export(print.summary.robustcause_mmm)
export(print.summary.robustcause_rlm)
export(print.summary.robustcause_s)
export(summary.robustcause_adstock)
export(summary.robustcause_adstock_model)
export(summary.robustcause_mm_dml)
export(summary.robustcause_mmm)
export(summary.robustcause_rlm)
export(summary.robustcause_s)
export(vcov.robustcause_rlm)
export(vcov_robust)
importFrom(Rcpp, evalCpp)
S3method(print, robustcause_adstock)
S3method(print, robustcause_adstock_model)
S3method(print, robustcause_mm_dml)
S3method(print, robustcause_mmm)
S3method(print, summary.robustcause_adstock_model)
S3method(print, summary.robustcause_mmm)
S3method(print, summary.robustcause_adstock)
S3method(print, summary.robustcause_mm_dml)
S3method(print, summary.robustcause_rlm)
S3method(print, summary.robustcause_s)
S3method(confint, robustcause_rlm)
S3method(print, robustcause_rlm)
S3method(print, robustcause_s)
S3method(summary, robustcause_adstock)
S3method(summary, robustcause_adstock_model)
S3method(summary, robustcause_mm_dml)
S3method(summary, robustcause_mmm)
S3method(summary, robustcause_rlm)
S3method(summary, robustcause_s)
S3method(vcov, robustcause_rlm)
